<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Jason Pursey</title>
      <%- include meta.ejs %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/tags.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/footer.css' />
      <script type="text/javascript" src='/javascripts/tagFilters.js'></script>
  </head>
  <body>
    <%-  include('./nav.ejs', {active: "projects"});%>
      <section>
          <h1>Projects</h1>
          <div id="tagSection">
              <ul id="allTags" class="tagList">
              </ul>
              <span id="clearFilters" onclick="clearFilters()">Show all</span>
          </div>
          <%
          for(let i=0; i<projects.length; i++){
              var p = projects[i];
              %>
              <div class="projectContainer">
                  <h2><%= p.title %></h2>
                  <ul class="tagList">
                      <% for(var j=0; j<p.tags.length; j++){
                          %>
                      <li onclick="hideInactive('<%= p.tags[j] %>') "><%= p.tags[j] %></li>
                      <%
                      }%>
                  </ul>
                  <div class="projectContent">
                      <p>
                          <%= p.description %>
                      </p>
                      <ul class="links">
                          <% for(var j=0; j<p.links.length; j++) {
                          %>
                          <li><%= p.links[j].description %>:
                              <a href="<%=p.links[j].url%>" target="_blank"> <%= p.links[j].url %> </a></li>
                          <%
                          }%>
                      </ul>
                  </div>
              </div>
                  <%
          }%>

      </section>

    <%- include footer.ejs%>
  </body>
</html>
