<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Jason Pursey</title>
      <%- include meta.ejs %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/projects.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/footer.css' />

      <meta name="activeTag" content="<%=activeTag%>" />
  </head>
  <script type="text/javascript">

      window.onload = function (ev) {
          populateAllTags();
          hideClearButton();
      }

      function populateAllTags(){
          var allTagsArray = [];
          var tag;
          var lists = document.getElementsByClassName("tagList");
          for(var i=0; i<lists.length; i++){
              var listItems = lists[i].getElementsByTagName("li");
              for(var j=0; j<listItems.length; j++){
                  tag = getTagLiContent(listItems[j]);
                  if(!allTagsArray.includes(tag)){
                      allTagsArray.push(tag);
                  }
              }
          }

          var allTags = document.getElementById("allTags");

          for(i=0; i<allTagsArray.length; i++){
              tag = allTagsArray[i];

              var li = document.createElement("li");

              li.setAttribute("onclick", "hideInactive('"+tag+"')");
              li.innerHTML = tag;

              allTags.appendChild(li);
          }
      }

      function hideInactive(tag){
          var divs = document.getElementsByClassName("projectContainer");
          for(var i=0; i<divs.length; i++){
              var tags = getTags(divs[i]);
              if(tags.includes(tag)){
                  divs[i].style.display = "block";
              }else{
                  divs[i].style.display = "none";
              }
          }

          var allTags = document.getElementById("allTags").getElementsByTagName("li");
          for (i=0; i<allTags.length; i++){
              if(allTags[i].innerHTML === tag){
                  allTags[i].className += " active";
              }else{
                  allTags[i].classList.remove("active");
              }
          }

          showClearButton();
      }

      function getTags(projectContainer){
          var tagsListItems = projectContainer.getElementsByClassName("tagList")[0].getElementsByTagName("li");
          var tags = [];
          for(var j=0; j<tagsListItems.length; j++){
              tags += tagsListItems[j].innerHTML;
          }
          return tags;
      }

      function getTagLiContent(li){
          return li.innerHTML;
      }

      function showClearButton() {
            document.getElementById("clearFilters").style.display = "inline-block";
      }

      function hideClearButton() {
          document.getElementById("clearFilters").style.display = "none";

      }

      function stripActive(){
          var tags = document.getElementById("allTags").getElementsByTagName("li");
          for(var i=0; i<tags.length; i++){
              tags[i].classList.remove("active");
          }
      }

      function clearFilters(){
          var projects = document.getElementsByClassName("projectContainer");
          for (var i=0; i<projects.length; i++){
              projects[i].style.display = "block";
          }

          hideClearButton();
          stripActive();
      }
  </script>
  <body>
    <%-  include('./nav.ejs', {active: "projects"});%>
      <section>
          <h1>Projects</h1>
          <div id="tagSection">
              <ul id="allTags" class="tagList">
              </ul>
              <span id="clearFilters" onclick="clearFilters()">Show all</span>
          </div>
          <%
          for(let i=0; i<projects.length; i++){
              var p = projects[i];
              %>
              <div class="projectContainer">
                  <h2><%= p.title %></h2>
                  <ul class="tagList">
                      <% for(var j=0; j<p.tags.length; j++){
                          %>
                      <li onclick="hideInactive('<%= p.tags[j] %>') "><%= p.tags[j] %></li>
                      <%
                      }%>
                  </ul>
                  <div class="projectContent">
                      <p>
                          <%= p.description %>
                      </p>
                      <ul class="links">
                          <% for(var j=0; j<p.links.length; j++) {
                          %>
                          <li><%= p.links[j].description %>:
                              <a href="<%=p.links[j].url%>" target="_blank"> <%= p.links[j].url %> </a></li>
                          <%
                          }%>
                      </ul>
                  </div>
              </div>
                  <%
          }%>

      </section>

    <%- include footer.ejs%>
  </body>
</html>
