<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Jason Pursey</title>
      <%- include meta.ejs %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/projects.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/footer.css' />
  </head>
  <body>
    <%-  include('./nav.ejs', {active: "projects"});%>
      <section>
          <h1>Projects</h1>
          <ul id="allTags" class="tagList">
              <li><a href="/projects?tag=HTML5">HTML5</a></li>
              <li><a href="/projects?tag=CSS3">Java</a></li>
              <li><a href="/projects?tag=JS6">AI</a></li>
              <li><a href="/projects?tag=NodeJS">NodeJS</a></li>
              <li><a href="/projects?tag=Express">Python</a></li>
              <li><a href="/projects?tag=HTML5">HTML5</a></li>
              <li><a href="/projects?tag=CSS3">Data</a></li>
              <li><a href="/projects?tag=JS6">JS6</a></li>
              <li><a href="/projects?tag=NodeJS">Usability</a></li>
              <li><a href="/projects?tag=Express">UX</a></li>
              <li><a href="/projects?tag=Express">Machine learning</a></li>
              <li><a href="/projects?tag=Express">Design patterns</a></li>
              <li><a href="/projects?tag=Express">OOP</a></li>

          </ul>

          <%
          for(let i=0; i<projects.length; i++){
              var p = projects[i];
              %>
              <div class="projectContainer">
                  <h2><%= p.title %></h2>
                  <ul class="tagList">
                      <% for(var j=0; j<p.tags.length; j++){
                          %>
                      <li><a href="/projects?tag=<%=p.tags[j]%>"> <%= p.tags[j] %> </a></li>
                      <%
                      }%>
                  </ul>
                  <ul class="links">
                      <% for(var j=0; j<p.links.length; j++) {
                      %>
                      <li><%= p.links[j].description %>:
                          <a href="<%=p.links[j].url%>" target="_blank"> <%= p.links[j].url %> </a></li>
                      <%
                      }%>
                  </ul>

                  <p>
                      <%= p.description %>
                  </p>
              </div>
                  <%
          }%>

      </section>

    <%- include footer.ejs%>
  </body>
</html>
