<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Jason Pursey</title>
      <%- include meta.ejs %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/projects.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/footer.css' />

      <meta name="activeTag" content="<%=activeTag%>" />
  </head>
  <script type="text/javascript">

      window.onload = function (ev) {
          var active = document.head.querySelector("[name=activeTag]").content;
          populateAllTags(active);
          hideInactive(active);

          if (active != ""){
              showClearButton();
          }else{
              hideClearButton();
          }
      }

      function populateAllTags(active){
          var allTagsArray = [];
          var tag;
          var lists = document.getElementsByClassName("tagList");
          for(var i=0; i<lists.length; i++){
              var listItems = lists[i].getElementsByTagName("li");
              for(var j=0; j<listItems.length; j++){
                  tag = getTagLiContent(listItems[j]);
                  if(!allTagsArray.includes(tag)){
                      allTagsArray.push(tag);
                  }
              }
          }
            console.log(allTagsArray);
          var allTags = document.getElementById("allTags");

          for(i=0; i<allTagsArray.length; i++){
              tag = allTagsArray[i];

              var li = document.createElement("li");
              var a = document.createElement("a");
              a.href = "/projects?tag="+tag;
              a.innerHTML = tag;

              if(tag === active + " "){
                  li.className += " active";
              }
              li.appendChild(a);
              allTags.appendChild(li);
          }
      }

      function hideInactive(tag){
          var divs = document.getElementsByClassName("projectContainer");
          for(var i=0; i<divs.length; i++){
              var tags = getTags(divs[i]);
              if(tags.includes(tag)){
                  divs[i].style.display = "block";
              }else{
                  divs[i].style.display = "none";
              }
          }
      }

      function getTags(projectContainer){
          var tags_a = projectContainer.getElementsByClassName("tagList")[0].getElementsByTagName("a");
          var tags = [];
          for(var j=0; j<tags_a.length; j++){
              tags += tags_a[j].innerHTML;
          }
          return tags;
      }

      function getTagLiContent(li){
          return li.getElementsByTagName("a")[0].innerHTML;
      }

      function showClearButton() {
            document.getElementById("clearFilters").style.display = "inline block";
      }

      function hideClearButton() {
          document.getElementById("clearFilters").style.display = "none";

      }
  </script>
  <body>
    <%-  include('./nav.ejs', {active: "projects"});%>
      <section>
          <h1>Projects</h1>
          <ul id="allTags" class="tagList">
          </ul>
          <a id="clearFilters" href="/projects">X Clear all</a>
          <%
          for(let i=0; i<projects.length; i++){
              var p = projects[i];
              %>
              <div class="projectContainer">
                  <h2><%= p.title %></h2>
                  <ul class="tagList">
                      <% for(var j=0; j<p.tags.length; j++){
                          %>
                      <li><a href="/projects?tag=<%=p.tags[j]%>"> <%= p.tags[j] %> </a></li>
                      <%
                      }%>
                  </ul>
                  <ul class="links">
                      <% for(var j=0; j<p.links.length; j++) {
                      %>
                      <li><%= p.links[j].description %>:
                          <a href="<%=p.links[j].url%>" target="_blank"> <%= p.links[j].url %> </a></li>
                      <%
                      }%>
                  </ul>

                  <p>
                      <%= p.description %>
                  </p>
              </div>
                  <%
          }%>

      </section>

    <%- include footer.ejs%>
  </body>
</html>
